<div class="student_list_cont">
  <div class="aside">

    <div class="user-profile">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, class: "user-profile-picture" %>
      <% else %>
        <%= image_tag 'default-profile.png', class: "user-profile-picture" %> 
      <% end %>
      <h3 class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>

    <ul class="nav-list">
      <li class="nav-item"><%= link_to 'Courses', teacher_courses_path %></li>
      <li class="nav-item"><%= link_to 'Students', teacher_students_path %></li>
    </ul>
  </div>

  <div class="main-content">
  <h1>Students</h1>
  <% if @students.any? %>
    <table class="student-table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Course(s)</th>
        <th>Price(s)</th>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td data-label="First Name"><%= student.first_name %></td>
          <td data-label="Last Name"><%= student.last_name %></td>
          <td data-label="Email"><%= student.email %></td>
          <td data-label="Course Name">
            <% if student.courses.any? %>
              <ul>
                <% student.courses.each do |course| %>
                  <li><%= course.name %></li>
                <% end %>
              </ul>
            <% else %>
              No courses enrolled
            <% end %>
          </td>
          <td data-label="Price">
            <% if student.courses.any? %>
              <ul>
                <% student.courses.each do |course| %>
                  <li><%= number_to_currency(course.price) %></li>
                <% end %>
              </ul>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>You have no students.</p>
  <% end %>
</div>
