<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <%= image_tag('hikma_PrimaryHorizontal.png', alt: 'Hikma Academy logo') %>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><%= link_to 'About us', about_path, class: 'footer-nav-link' %></li>
        <li><%= link_to "Contact Us", contacts_index_path, class: "footer-nav-link" %></li>
        <li><%= link_to 'Courses', courses_path, class: 'footer-nav-link' %></li>
        <li><a href="#blog" class="footer-nav-link">Blog</a></li>
      </ul>
    </nav>
    <ul class="social-media">
      <li>
        <a href="https://www.instagram.com/hikmaacademymn/">
          <%= image_tag('instagram.png', alt: 'Instagram icon', class: 'instagram') %>
        </a>
      </li>
    </ul>
    <hr>
    <div class="footer-copyright">
        <p>5995 Timber Trail SE, Prior Lake, MN 55372, United States</p>
        <p class="phone-and-address">952-447-7786 | hikmaacademy.mn@gmail.com</p>
        <p>Copyright © 2024 Hikma Academy</p>
    </div>
  </div>
</footer>
