<header>
  <a href="<%= root_path %>">
    <img class="headlogo" src="<%= asset_path('logo/hikma_VerticalNoTag.png') %>">
  </a>
  <ul class="nav-links">
    <li><%= link_to 'Home', root_path, class: 'custom-link' %></li>
    <li><%= link_to 'About', about_path, class: 'custom-link' %></li>
    <li><%= link_to 'Courses', courses_path, class: 'custom-link' %></li>
    <li><%= link_to 'Staff', all_teachers_path, class: 'custom-link' %></li>
    <li><%= link_to 'Student Experience', studentxp_index_path, class: 'custom-link' %></li>
    <% if user_signed_in? %>
      <% if current_user.role == Role.find_by(name: 'teacher') %>
        <li><%= link_to 'Dashboard', teacher_courses_path, class: 'custom-link' %></li>
      <% elsif current_user.role == Role.find_by(name: 'student') %>
        <li><%= link_to 'Dashboard', students_path, class: 'custom-link' %></li>
      <% end %>
    <% end %>
    


    <% if user_signed_in? && current_user.role == Role.find_by(name: 'teacher') %>
      <li><a href="<%= new_admin_user_session_path %>" class='custom-link'>Admin</a></li>
    <% elsif user_signed_in? && current_user.role == Role.find_by(name: 'student') %>
      <li><a href="<%= cart_path %>"><img class="cart" src="<%= asset_path('cart.png') %>" alt="cart"></a></li>
    <% end %>
    <li><%= link_to 'Donate', 'https://donorbox.org/support-hikma-academy', class: "donate-button"%></li>

    <% if user_signed_in? %>
      <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= button_to 'Sign In', new_user_session_path %></li>
    <% end %>
  </ul>
</header>