<div class="font">
  <div class="welcome-message">
    <h1><%= TextContent.find_by(location: "welcome_message_title")&.body %></h1>
    <p class="quote"><%= TextContent.find_by(location: "welcome_message_quote")&.body %></p>
    <p class="prophet"><%= TextContent.find_by(location: "welcome_message_prophet")&.body %></p>
  </div>

  <h2 class="second-header-msg">Unlock Your Potential for Knowledge</h2>

  <div class="highlights">
    <div class="Featured-Courses">
      <h2>Diverse Learning Paths</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur sapien vel dolor dapibus, a cursus justo finibus. Integer nec enim eget elit facilisis ullamcorper. Fusce feugiat sapien vitae nunc vehicula, ac fermentum libero interdum. </p>
      <a href="<%= courses_path %>" class="learn-more">Learn More →</a>

    </div>
    
    <div class="Parents-card">
      <h2>Youth Islamic Education</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur sapien vel dolor dapibus, a cursus justo finibus. Integer nec enim eget elit facilisis ullamcorper. Fusce feugiat sapien vitae nunc vehicula, ac fermentum libero interdum. </p>
      <a href="<%= courses_path %>" class="learn-more">Learn More →</a>
    </div>
  </div>
</div>


