<div class="font">
<div class="img-container">
  <img class="banner" src="<%= asset_path('banner.JPG') %>" alt="banner-image">
  </div>
  <div class="welcome-message">
    <h1><%= TextContent.find_by(location: "welcome_message_title")&.body %></h1>
    <p class="quote"><%= TextContent.find_by(location: "welcome_message_quote")&.body %></p>
    <p class="prophet"><%= TextContent.find_by(location: "welcome_message_prophet")&.body %></p>
  </div>

  <h2 class="second-header-msg">Unlock Your Potential for Knowledge</h2>

  <div class="highlights">
    <div class="Featured-Courses">
      <h2>Diverse Learning</h2>
      <p> Our institution offers courses tailored for individuals of all ages, fostering an inclusive environment where everyone can engage in the enriching study of the Quran</p>
      <a href="<%= courses_path %>" class="learn-more">Learn More →</a>

    </div>
    
    <div class="Parents-card">
      <h2>Workshops</h2>
      <p>Our workshops cover a range of topics led by experts, offering practical skills and knowledge in a collaborative learning environment.</p>
      <a href="<%= courses_path %>" class="learn-more ">Learn More →</a>
    </div>
  </div>
  <div class="home_student_quote">
  <span><span class="quotation">&ldquo;</span>My experience with Hikma academy has been an amazing, powerful, and very educational journey. What I enjoyed the most about this program is the fact each chapter or Surah we learned each week had applied to my daily life&rdquo; - Bahja Mohamud</span>
  <hr>
</div>

<div>

<div class="section-home-why">
  <div class="side-by-side-containers">
    <div class="hand-raising-container">
      <%= image_tag("hand-raising.png", class: "hand-raise", alt: "hand raising") %>
    </div>
    <div class="why-hikma-container">
      <h2>Is Hikma right for you?</h2>
      <p>We believe in the power of reflective practice to heal from undesired ways of being and grow into more spiritually aligned and fulfilled people. Our goal in this Dunya is to continuously purify our nafs to attain Jannah in the Akhira.</p>
      <%= link_to "Learn More", "/about", class: "about-button" %>
    </div>
  </div>
</div>


</div>


</div>


