<%= stylesheet_link_tag "contact.css" %>
<div class="contact-message">
  <h1><%= TextContent.find_by(location: "contact_header")&.body %></h1>

  <div class="contact-info">
    <p><strong>Address:</strong> <%= TextContent.find_by(location: "contact_address")&.body %></p>
    <p><strong>Email:</strong> <%= TextContent.find_by(location: "contact_email")&.body %></p>
    <p><strong>Phone:</strong> <%= TextContent.find_by(location: "contact_phone")&.body %></p>
  </div>
</div>


<div class="contact-info">
  <p>Alternatively, visit us on the map:</p>
</div>

<div class="map-iframe">
  <iframe
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.1371524710524!2d-93.44211558450142!3d44.70222497909927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f7cbb5b6a71e27%3A0xb208ea48a2924668!2s5995%20Timber%20Trail%20SE%2C%20Prior%20Lake%2C%20MN%2055372%2C%20USA!5e0!3m2!1sen!2suk!4v1644126234386!5m2!1sen!2suk"
    allowfullscreen>
  </iframe>
</div>
