<h1 class= "teachers-page-title">Meet Our Teachers</h1>
<div class="teachers-container">
  <div class="teacher">

    <%= image_tag "kaltun4.png", class: "teacher-image", width: "250", height: "250" %>
    <h2><%= TextContent.find_by(location: "teacher_1_name")&.body %></h2>
    <div class="teacher-info">
    
      <p>
      <%= TextContent.find_by(location: "teacher_1_bio")&.body %>
      </p>
    </div>
  </div>

  
  <div class="teacher">
    <%= image_tag "Fathiya.png", class: "teacher-image", width: "250", height: "250" %>
    <h2><%= TextContent.find_by(location: "teacher_2_name")&.body %></h2>
    <div class="teacher-info">
     
      <p>
        <%= TextContent.find_by(location: "teacher_2_bio")&.body %>
      </p>
    </div>
  </div>

  <div class="teacher">
 
    <%= image_tag "roun2.png", class: "teacher-image", width: "250", height: "250" %>
    <h2><%= TextContent.find_by(location: "teacher_3_name")&.body %></h2>
    <div class="teacher-info">
     
      <p>
      <%= TextContent.find_by(location: "teacher_3_bio")&.body %>
      </p>
    </div>
  </div>
</div>

