<div id="<%= dom_id course %>" style="border: 1px solid #000; margin: 10px; background-color: #DDBA88; padding: 10px; display: flex;">
  <div style="flex: 1;">
    <%= image_tag course.image, class: "img" %>
  </div>
  <div style="flex: 2; text-align: left;">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= course.location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= course.course_type %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= course.format %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= course.payment_type %>
  </p>

  <p>
    <strong>Price</strong>
    <%= number_to_currency(course.price) %>
  </p>
</div>
</div>
