<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course.teacher %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= course.location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= course.type %>
  </p>

  <p>
    <strong>String:</strong>
    <%= course.string %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= course.format %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= course.payment_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= course.child_id %>
  </p>

</div>
