<div class="form-container">
  <%= form_with(model: course) do |form| %>
    <% if course.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="edit-add">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, placeholder: "Course name" %>
    </div>

    <div class="edit-add">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, placeholder: "Course description" %>
    </div>

    <div class="edit-add">
      <%= form.label :capacity, style: "display: block" %>
      <%= form.text_field :capacity, placeholder: "Course capacity" %>
    </div>

    <div class="edit-add">
      <%= form.label :start_date, style: "display: block" %>
      <%= form.date_field :start_date %>
    </div>

    <div class="edit-add">
      <%= form.label :end_date, style: "display: block" %>
      <%= form.date_field :end_date %>
    </div>

    <div class="edit-add">
      <%= form.label :format, style: "display: block" %>
      <%= form.select :format, Course.formats.keys %>
    </div>

    <% unless course.online? %>
      <div class="edit-add">
        <%= form.label :location, style: "display: block" %>
        <%= form.text_field :location , placeholder: "Course location" %>
      </div>
    <% end %>

    <% if action_name != 'edit' %>
      <!-- Render payment_type field only in the new action -->
      <div class="edit-add">
        <%= form.label :payment_type, style: "display: block" %>
        <%= form.select :payment_type, Course.payment_types.keys %>
      </div>
    <% end %>

    <div class="edit-add">
      <% form.label :user_id, style: "display: block" %>
      <%= form.text_field :user_id, value:current_user.id, type: :hidden %>
    </div>

    <% if action_name != 'edit' %>
      <div class="edit-add">
        <%= form.label :price, style: "display: block" %>
        <%= form.number_field :price , placeholder: "Course price" %>
      </div>
    <%end%>

    <div class="edit-add">
      <%= form.file_field :image %>
    </div>

    <div class="edit-add">
      <%= form.submit %>
    </div>
  <% end %>
</div>