<div id="courses", class="course-container">
    <% @courses.each do |course| %>
      <div class="card">
        <% if course.image.attached? %>
          <%= link_to(course_path(course)) do %>
            <%= image_tag(course.image, class: 'img') %>
          <% end %>
        <% end %>

        
        <span class="tag">Regular</span>
        
        <span class="tag">Online</span>

        <span class="tag"><%= course.status %></span>

        <div class="name" ><%= course.name %></div>
        <p class="p" >Description: <%= course.description %></p> 

      </div>
    <% end %>
</div>

<br><br>
<%= link_to "New course", new_course_path %>
