<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses", class="course-container">
    <% @courses.each do |course| %>
      <div class="card">
        <% if course.image.attached? %>
          <%= link_to(course_path(course)) do %>
            <%= image_tag(course.image, class: 'img') %>
          <% end %>
        <% end %>

        <div class="intro">
          <h1 class="title" ><%= course.name %></h1>
          <p class="body" >Description: <%= course.description %></p> 
        </div>
      </div>
    <% end %>
</div>

<br><br>
<%= link_to "New course", new_course_path %>
