<%= render @course %>

<div>
  <% if user_signed_in? && current_user.role == Role.find_by(name: 'teacher') %>
    <%= link_to "Edit this course", edit_course_path(@course) %>
    <%= button_to "Delete this course", @course, method: :delete %>
  <% end %>

  <% if user_signed_in? && current_user.role == Role.find_by(name: 'student') %>
    <%= link_to "Buy Course", checkout_path(course_id: @course.id) %>
    <%= form_with(url: carts_add_path) do |f| %>
      <%= f.hidden_field :id, value: @course.product.id %>
      <%= f.number_field :quantity, value: 1, min: 1, type: :hidden %>
      <%= f.submit "Add to cart" %>
    <% end %>
  <% end %>
</div>

