<%= render @course %>

<div>
  <% if user_signed_in? && current_user.role == Role.find_by(name: 'teacher') %>
    <div class="edit-delete-buttons">
      <%= link_to "Edit this course", edit_course_path(@course), class: "generic-button" %>
      <%= button_to "Delete this course", @course, method: :delete %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user.role == Role.find_by(name: 'student') && !@course.closed? %>

    <div class="buy-add">
      <% unless @course.archived? %>
        <%if @course.recurring?%>
          <%= render partial: 'pay/stripe/checkout_button', locals: {
            session: @checkout_session, 
            title: "Checkout",
            class: "rounded-button"
          } %> 
          <%= link_to "Back", courses_path, class: "generic-button", style: "float: right;"%>
          <%else%>
          <%= render partial: 'pay/stripe/checkout_button', locals: {
            session: @checkout_session, 
            title: "Checkout",
            class: "rounded-button"
        } %>
          <%= form_with(url: carts_add_path) do |f| %>
            <%= f.hidden_field :id, value: @course.product.id %>
            <%= f.number_field :quantity, value: 1, min: 1, type: :hidden %>
            <%= f.submit "Add to cart", class: "generic-button" %>
            <%= link_to "Back", courses_path, class: "generic-button"%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% elsif !user_signed_in? && !@course.archived? %> 
    <%= form_with(url: carts_add_path) do |f| %>
      <%= f.hidden_field :id, value: @course.product.id %>
      <%= f.number_field :quantity, value: 1, min: 1, type: :hidden %>
      <%= f.submit "Buy Course", class: "generic-button" %>
      <%= link_to "Back", courses_path, class: "generic-button"%>
    <% end %>
  <% end %>
</div>