<div class="center-container">
    <h1>Welcome to the Student Experience Page!</h1>
    <p>This is where you can learn about our amazing student experience!</p>
</div>

<div style ="text-align: center;">
    <div class="img-border">
        <h3>What do you love most about Hikma Academy?</h3>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/HhVe3PBFgTM" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="img-border">
        <h3>What are you learning?</h3>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/XzKKQD8yIwI" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="testimonials">
<div class="testimonial">
    <h2>There's nothing I look forward to more than my Sunday mornings</h2>
    <img src="<%= asset_path('students/fsssfzgz-e1474528069550-300x300.png') %>" alt="Hikma Academy Image 1">
    <p>I've attended Hikma Academy for more than a year as a scholarship student and there's nothing I look forward to more than my Sunday mornings. Islamic studies in traditional dugsis have always been cut and dry, but Hikma makes it engaging and helps young girls figure out how to integrate the deen into their lives, not just memorize it. I'm grateful, and may Allah fill this program with nothing but barakah. Ameen.</p>
    <div class="author">Salma Ali</div>
</div>

<div class="testimonial">
    <h2>Amazing, powerful, and very educational</h2>
    <img src="<%= asset_path('students/agraheah-e1474576438815-300x300.png') %>" alt="Hikma Academy Image 2">
    <p>My experience with Hikma academy has been an amazing, powerful, and very educational journey. What I enjoyed the most about this program is the fact each chapter or Surah we learned each week had applied to my daily life, empowered me to learn more about my Deen, and improve my interaction with Allah AllahmduAllah! The pursuit of studying Quran was to find my place within the holy book to be able to connect and increase my understating of the words I was reading so I am able to apply it to my everyday life which this program and the teacher has done phenomenal job! She was always prepared to lecture, empower/wow us, and leave us with more desire to learn more.</p>
    <div class="author">Bahja Mohamud</div>
</div>

<div class="testimonial">
    <h2>That perfect balance</h2>
    <img src="<%= asset_path('students/ifrah-e1474576608225-150x150.jpg') %>" alt="Hikma Academy Image 7">
    <p>Being a part of Hikma Academy has impacted my life immensely Alhamdulilah. I was looking for a Tafseer class that would incorporate a structured class environment along with likeminded sisters who could have a productive discussion and reflect on the subject material. I was overjoyed to find that perfect balance with our instructor Kaltun’s class mashaAllah. Our notes were organized and goal oriented. We also had examinations at the end of every Surah which motivated me even more to study and excel. Overall I would recommend this class to anyone who is aiming to study the tafseer on a more in depth level and participate in reflections that sister Kaltun as well as other sisters have to share masha’Aallah.</p>
    <div class="author">Ifrah Abdi</div>
</div>

<div class="testimonial">
    <h2>Inspirational and thought-provoking</h2>
    <img src="<%= asset_path('students/Sagal-Nur-300x300.png') %>" alt="Hikma Academy Image 4">
    <p>When I first signed up for Hikma Academy’s Tafseer class, I had no expectations. At that time, I didn’t know what I was missing or what I was looking for. The class has not only allowed me to understand the Quran in terms I’ve never understood before but has also given me the chance to connect with my Creator, Alhamdullilah. I felt like the Quran and I noticed one another for the first time! What I value most about this experience is the inspirational and thought-provoking lessons. There’s always a lesson to take home after class. The class started me on a life-long path for seeking Allah and a personal growth which I’ve never known before taking the tafseer class.</p>
    <div class="author">Sagal Nur</div>
</div>

<div class="testimonial">
    <h2>Non-Judgmental Zone</h2>
    <img src="<%= asset_path('students/Osob-Mohamed-300x300.jpeg') %>" alt="Hikma Academy Image 5">
    <p>I signed up for Hikma Academy’s Tafseer class hoping to gain more knowledge and better understanding of the deen in a more comfortable setting where I am not being judged or feel overwhelmed but rather slowly make necessary life changes as learn little by little. What I value most about having been part of the class is the creating of amazing bonds with genuine people who crave to be better and do better together. I value the time spent in the classroom. There is no space in time. I am glued to my seat. I was challenged spiritually. This class increased my iman. I began to implement what I learned outside of the classroom. I grew patient and grateful everyday.</p>
    <div class="author">Osob Mohamed</div>
</div>

<div class="testimonial">
    <h2>Broadened my horizons</h2>
    <img src="<%= asset_path('students/muslimah-silhouette-e1399917788374.jpg') %>" alt="Hikma Academy Image 6">
    <p>Hikma Academy was a beautiful experience that has broadened my horizons. I came knowing I shall expand my knowledge in the tafsir class, but I walked away stronger intellectually. I was not prepared for how the Quran forces you to reflect and interact with it. Allah asks us numerously to think and use our brain. The more I reflected the more I felt grateful, and gained knowledge and understanding; thus loving the class.  I’ve never felt closer to Allah-my maker, provider, sustainer, master- the one who loves me the most and the one who is closest to me. This class has made me cognizant of Allah at all times from suratul Fatiha for understanding Allah to suratul ad-Duhaa for when one is in depression.  Before this class my relationship with Allah was both fear and hope. But after taking this class I now have love for Allah and his beautiful messenger Mohamed (S.A.W).</p>
    <div class="author">Mulki Noor</div>
</div>

<div class="testimonial">
    <h2>In a room full of potentials and hope</h2>
    <img src="<%= asset_path('students/Farhiya-Hassan-e1474576786408-300x300.png') %>" alt="Hikma Academy Image 3">
    <p>My name is Farhiya Hassan and I'm assistant for Ustadha Kaltun Karani here at Hikma Academy. I have been working with her and wonderful bright teen students for a year. I also have been a student taking classes with the adults. Growing up in America and going to Islamic schools or the weekend schools here I understand how most of our students feel. I'm pretty jealous of how they're learning the Quran and the Sunnah. Kaltun's teaching is different than what we are used to. While teaching the Tafseer (translation) of the Quran she combines it with the Seerah (biography) of the Prophet (PBUH). The students are learning to understand their religion better and be proud of it. When the class ends each student is walking out feeling touched and amazed at more than 1 thing that resonated with them. Sunday is the most exciting day of the week because I'm in a room full of potentials and hope. I see our future doctors, lawyers and scholars. I see women that know their religion and can teach it to their families, neighbors, coworkers and colleagues. I see sisterhood, friendships, compassion and love.  I see modesty and honor because we see all of this and more in our teacher Kaltun. You can finish school, be a person who loves the Quran and teaches it, be a wife, daughter and a mother and still have time for fun and friends. Our teachers should model for us so we can follow easily and that's what Hikma Academy offers to be: INSPIRATION while LEARNING.</p>
    <div class="author">Farhiya Hassan</div>
</div>

<div class="testimonial">
    <h2>The Power of Knowledge</h2>
    <img src="<%= asset_path('students/muslimah-silhouette-e1399917788374.jpg') %>" alt="Hikma Academy Image 8">
    <p>
        I signed up for Hikma Academy’s Tafseer class hoping to learn the tafseer of the Quran because I was tired of reading ayats that I did not understand. I always wanted to know the message Allah SWT was communicating through the Quran. I was eager for the message and I truly wanted to connect with Allah. Ramadan is my favorite time of the year, and all I ever wanted to know was the story of the Surah and find tranquility in listening to the surah the Imam was reciting. When the opportunity presented itself, I had to sign up for this class because I believe that it was an answered dua by Allah.
    </p>
    <p>
        What I value the most about this experience is that I have gained knowledge of Allah SWT. I remember the first day of class we covered the tafseer of Ayatul Kursi, and in this ayah (the most powerful ayah in the Quran), Allah SWT introduces himself to the believers. On this day, I was no longer hopeless and I no longer viewed my sins as the very thing that will destroy me but rather a doubt in Allah SWT. This was the beginning of my journey of knowledge and being eager to learn and want more for myself. Every surah is unique on its own and it took me to a whole new world of connecting with Allah and wanting to please Him. Studying the tafseer of the Quran is both a spiritual and personal growth. May Allah swt guide us all and grant us a good ending.
    </p>
    <div class="author">Sagal Muse</div>
</div>

<div class="testimonial">
    <h2>Deeper understanding</h2>
    <img src="<%= asset_path('students/Faduma-Warsame-150x150.png') %>" alt="Hikma Academy Image 16">
    <p>I signed up for Hikma Academy’s Tafseer class hoping for a deeper understanding of the Qur’an and what I value most about this experience is the practical action items gained from each class and the spirit of sisterhood.  This experience has really made me feel more accountable about investing in my spiritual development and doing all that I can to keep the iman in my heart that is flickering on and off every now and then.</p>
    <div class="author">Faduma Warsame</div>
</div>

<div class="testimonial">
    <h2>No joke, this class was life changing</h2>
    <img src="<%= asset_path('students/rania-300x300.png') %>" alt="Hikma Academy Image 10">
    <p>Over the past year I learned way more about Islam than I thought. My first day, as usual, I did not want to be there because I thought it was like every other class I been to. Less than I know, no joke, this class was life changing. Throughout the week you lose yourself and forget your Deen, but you had every Sunday to realize yourself. For sure my favorite thing about being a part of this amazing journey is the relationship with my classmates and teacher. All of my classmates are my friends and we make the best out of the class. We even hangout out of class. And for the teacher, she is a very easy person to talk to without having the fear of “she will not understand me” I have been in this class for 2 years and I never see myself not taking it.</p>
</div>

<div class="testimonial">
    <h2>My spirit is at rest</h2>
    <img src="<%= asset_path('students/hkfjj-e1474528249891-300x300.png') %>" alt="Hikma Academy Image 11">
    <p>I have been going to Hikma academy since it started and I have never felt so content before on a Sunday morning. Usually on a Sunday morning am either thinking about school the next day or doing chores at home. Hikma gives me chance to be myself. Express myself the way I want to without being provoked. But most importantly I love the knowledge that soaks into my brain when am there, I feel this massive weight being lifted away from my shoulders and being replaced with peace and integrity. I pick these two words because it basically summarizes my whole stay at Hikma. Integrity because growing up as a kid I didn’t know who I was, what I stand for, what’s my pride, who to trust who not to trust, what to do in difficult situations and so on. But now I know what my strong morals are and now I can live off of it .And peace because when am there I feel disconnected from this dunia. Disconnected from the drama at school, homework, chores you name it. Instead my spirit is at rest, now I don’t know if it’s because of me connecting with my lord or if it’s because I feel the presence of the angels around us, but I know for a fact that I feel tranquil from head to toe. Mash Allah I have learned many things from there not only the tafseer in the Quran but how to live in the west as a young African American teenager. I can’t say this enough but I really enjoy her class she has a way of explaining things that make so much sense, not just some stuff she looked up from Wikipedia she actually spends all of her free time going to halaka’s and doing whole lot of researches just so that we can understand and benefit from it. So I end up leaving the center with a little knowledge every Sunday</p>
</div>

<div class="testimonial">
    <h2>Filling a void with Quran</h2>
    <img src="<%= asset_path('students/muslimah-silhouette-e1399917788374.jpg') %>" alt="Hikma Academy Image 14">
    <p>I initially signed up for Hikma Academy’s Tafseer class hoping to gain more closeness to Allah through understanding His book. There was a void within me that desired a more personal and intimate relationship with that Qur’an, one that would act as the foundation to which I nurture my faith. I also knew I needed to cultivate that relationship on a more consistent and structured basis, something a weekly class would perfectly offer. What I truly value most about this experience is being surrounded by a phenomenal group of sisters who all are seeking that same closeness to the Qur’an. Throughout this journey of reflecting on the words of Allah, it is through their individual wisdom that I am also able to learn from. Whether it’s through our collective discussions, random tangents, or heartfelt class reflections, these sisters have become some of my most cherished friends and acquaintances. Ustadha Kaltun’s tafseer class has allowed me to gain better insight into my own character by assessing the values and principles Allah calls us to through His book. Each week I am challenged to apply the teachings of that particular surah and use its wisdom to refine the relationship I have with Allah, with myself, and with the loved ones in my life. Each week I am challenged through the Qur’an to be the best version of myself, the version my Rabb ultimately wants for me. It continues to be a journey of growth, self-realization and transformation – alhamdulillah thumma alhamdulillah. I am forever indebted to our teacher Kaltun Karani who is the vessel Allah has chosen to teach us through. May Allah continue to bless and expand her efforts and the mission of Hikma Academy.</p>
    <div class="author">Zuleikha Suleiman</div>
</div>

<div class="testimonial">
    <h2>Has helped in the pursuit of the Deen</h2>
    <img src="<%= asset_path('students/dageag-e1474575835345-300x300.png') %>" alt="Hikma Academy Image 13">
    <p>My name is Naima and I’m a 14-year-old girl. My experience at Hikma Academy has been a good one.  It has also been a learning experience that I go through every single day. There could be a time where I only remember one thing about the class and I would try to fix that part of myself for that week. This class is different because it actually connects to the modern day and not like some other classes that still think we are in the 1900s. This has helped in the pursuit of the Deen because I can actually connect it today.</p>
    <div class="author">Naima Osman</div>
</div>

<div class="testimonial">
    <h2>The class rejuvenated me</h2>
    <img src="<%= asset_path('students/muslimah-silhouette-e1399917788374.jpg') %>" alt="Hikma Academy Image 12">
    <p>Hikma Academy helped me become more connected to my Islamic identity. The classes were taught by Sr. Kaltun and were very engaging and I liked it included a quiz to see our knowledge gained. The one day I had class rejuvenated me for the entire week. It helped me keep up with listening to lectures so as to come prepared for the class as well as increase my understanding of the topic of the day. I have also developed a very strong sisterhood that I am still part of. I am grateful that I am part of this, we do not have opportunities such as this in our communities.</p>
    <div class="author">Fatima Hassan</div>
</div>

<div class="testimonial">
    <h2>Hikma Academy has taught me a lot</h2>
    <img src="<%= asset_path('students/anisa-e1474529226941-150x150.png') %>" alt="Hikma Academy Image 15">
    <p>My name is Anisa Hassan, I’m 17 years old and I go to Kennedy High School. I joined Hikma academy the beginning of my senior year and I don’t regret it at all. Hikma academy is only on sundays and teaches young Muslim woman how to identify themselves in the world today as a Muslimah. At first I wanted to focus on school this year but school has become hard so I needed a reminder for my deen and to have a better connection with Allah. Before I joined Hikma I used to go to Islamic schools also known as “Dugsi” and we focused on memorizing the Qu’ran then passing it and then moving on to the next until we finish. My goal in life is to memorize the Qu’ran but also understand the meaning so I can apply it to my daily life. We also learn the Seerah and share stories about the people of the time of Muhammad (SAW).</p>
    <div class="author">Anisa Hassan</div>
</div>

<div class="testimonial">
    <h2>Wonderful and extremely meaningful</h2>
    <img src="<%= asset_path('students/Zakya-Gazey-e1474576249392-146x150.png') %>" alt="Hikma Academy Image 9">
    <p>My experience with Hikma Academy has been invaluable, wonderful and extremely meaningful. I have developed a lifelong bond with Sr. Kaltun and my fellow seekers of knowledge on our journey of discovering the miracle of the Quran, one page at a time. It was an exciting opportunity for me to nurture my spiritual growth through the Quran at this blossoming organization such as Hikma where one can learn the fundamentals of deciphering the messages and stories that Allah has implanted in His holy book.  As I move forward in my Quranic endeavors, I will take with me all that I learned under the umbrella of Hikma as the seeds of inspiration that have ploughed the fields of my heart where I continually harvest the love of Allah. May Allah bless this organization with endless blessings for all its efforts in cultivating our hearts to love him endlessly.</p>
    <div class="author">Zakya Gazey</div>
</div>

</div>