<!DOCTYPE html>
<html>
  <head>
    <title>HikmaAcademy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('OnlyLogoFullColor.png') %>">
    <%= stylesheet_link_tag "header.css" %>
    <%= stylesheet_link_tag 'about.css' %>
    <%= stylesheet_link_tag "footer.css" %>
    <%= stylesheet_link_tag "studentxp.css" %>
    <%= stylesheet_link_tag "Home.css" %>
    <%= stylesheet_link_tag "courses.css" %>
    <%= stylesheet_link_tag "teacher.css" %>
  </head>

  <body>
    <%= render 'home/header' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render 'home/footer' %> 
  </body>
</html>
